/* Banner image */
.banner__image {
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    margin: 0 0 2em 4em;
    width: 50%;
    padding: 0;
    border: 0;
    vertical-align: baseline;

}

@media screen and (orientation: portrait) {
    .banner__image {
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 0 4em 0;
        height: 25em;
        max-height: 50vh;
        min-height: 18em;
        width: 100%;
    }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
    .banner__image {
        max-height: 35vh;
    }
}